@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Le jeu du pendu</h1>
    <h2>Réalisé par Alexia Sanz de Galdeano</h2>
    <div class="bouton_new_partie">Lancer une partie</div>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
